//  .██████╗.██████╗.██╗......██████╗.██████╗.███████╗
//  ██╔════╝██╔═══██╗██║.....██╔═══██╗██╔══██╗██╔════╝
//  ██║.....██║...██║██║.....██║...██║██████╔╝███████╗
//  ██║.....██║...██║██║.....██║...██║██╔══██╗╚════██║
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║..██║███████║
//  .╚═════╝.╚═════╝.╚══════╝.╚═════╝.╚═╝..╚═╝╚══════╝
//  ..................................................

$c-primary: #0D4BE3;
$c-primary_dark: #063BAF;
$c-secondary: #EC4E20;
$c-w: #fff;

//  ███████╗.██████╗.███╗...██╗████████╗███████╗
//  ██╔════╝██╔═══██╗████╗..██║╚══██╔══╝██╔════╝
//  █████╗..██║...██║██╔██╗.██║...██║...███████╗
//  ██╔══╝..██║...██║██║╚██╗██║...██║...╚════██║
//  ██║.....╚██████╔╝██║.╚████║...██║...███████║
//  ╚═╝......╚═════╝.╚═╝..╚═══╝...╚═╝...╚══════╝
//  ............................................

$f-bigger: 1.5rem;
$f-big: 1.25rem;
$f-normal: 1rem;
$f-small: 0.85rem;
$f-xsmall: 0.75rem;

//  ███████╗██████╗..█████╗..██████╗██╗███╗...██╗.██████╗.
//  ██╔════╝██╔══██╗██╔══██╗██╔════╝██║████╗..██║██╔════╝.
//  ███████╗██████╔╝███████║██║.....██║██╔██╗.██║██║..███╗
//  ╚════██║██╔═══╝.██╔══██║██║.....██║██║╚██╗██║██║...██║
//  ███████║██║.....██║..██║╚██████╗██║██║.╚████║╚██████╔╝
//  ╚══════╝╚═╝.....╚═╝..╚═╝.╚═════╝╚═╝╚═╝..╚═══╝.╚═════╝.
//  ......................................................

$s-section_x: 100px;
$s-section_y: 50px;