//  .██████╗.██████╗.██╗......██████╗.██████╗.███████╗
//  ██╔════╝██╔═══██╗██║.....██╔═══██╗██╔══██╗██╔════╝
//  ██║.....██║...██║██║.....██║...██║██████╔╝███████╗
//  ██║.....██║...██║██║.....██║...██║██╔══██╗╚════██║
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║..██║███████║
//  .╚═════╝.╚═════╝.╚══════╝.╚═════╝.╚═╝..╚═╝╚══════╝
//  ..................................................

$c-primary: #0D4BE3;
$c-primary_dark: #063BAF;
$c-secondary: #EC4E20;
$c-w: #fff;

//  ███████╗.██████╗.███╗...██╗████████╗███████╗
//  ██╔════╝██╔═══██╗████╗..██║╚══██╔══╝██╔════╝
//  █████╗..██║...██║██╔██╗.██║...██║...███████╗
//  ██╔══╝..██║...██║██║╚██╗██║...██║...╚════██║
//  ██║.....╚██████╔╝██║.╚████║...██║...███████║
//  ╚═╝......╚═════╝.╚═╝..╚═══╝...╚═╝...╚══════╝
//  ............................................

$f-bigger: 4.5rem; // 72px
$f-big: 1.75rem; // 28px
$f-normal: 1.4rem; // 22px
$f-small: 0.88rem; // 14px
$f-xsmall: 0.75rem;

//  ███████╗██████╗..█████╗..██████╗██╗███╗...██╗.██████╗.
//  ██╔════╝██╔══██╗██╔══██╗██╔════╝██║████╗..██║██╔════╝.
//  ███████╗██████╔╝███████║██║.....██║██╔██╗.██║██║..███╗
//  ╚════██║██╔═══╝.██╔══██║██║.....██║██║╚██╗██║██║...██║
//  ███████║██║.....██║..██║╚██████╗██║██║.╚████║╚██████╔╝
//  ╚══════╝╚═╝.....╚═╝..╚═╝.╚═════╝╚═╝╚═╝..╚═══╝.╚═════╝.
//  ......................................................

$s-section_x: 100px;
$s-section_y: 30px;
$s-button_x: 50px;
$s-button_y: 5px;