<main class="wt-theory">
  <section class="wt-section wt-section--banner">
    <h1 class="banner__title">La rueda de las emociones de Robert Plutchik</h1>
    <img class="banner__img" src="https://t2.pb.ltmcdn.com/es/posts/7/0/7/para_que_sirve_la_rueda_de_las_emociones_4707_3_600.jpg" alt="las emociones">
    <div class="banner__overlayer"></div>
  </section>
  <section class="wt-section wt-section--muted h-100">
    <p class="light normal-size muted">A lo largo del día experimentamos un gran número de emociones diferentes, pero muchas veces somos incapaces de identificar aquello que estamos sintiendo. El 
psicólogo Robert Plutchik defendió que las emociones cambian a lo largo de la evolución del ser humano para adaptarse a su contexto y elaboró un recurso en forma de 
dibujo que facilita el reconocimiento y comprensión de la complejidad de las emociones.</p>
    <article class="wt-theory__article">
      <app-bloqtext class="wt-content__bloqText" [title]="'Rueda de las emociones de Robert Plutchik'" [paragraph]="'Robert Plutchik fue un psicólogo norteamericano que desarrolló un modelo de las emociones basándose en la teoría psicoevolutiva de las emociones. Esta teoría 
defiende que el mapa emocional tanto de los seres humanos, como de los animales, ha ido evolucionando con el objetivo de adaptarse al medio externo. Para Plutchik, 
las emociones no son buenas ni malas en sí mismas, sino que todas son necesarias y presentan funciones concretas que promueven la supervivencia y la adaptación. A 
partir de esta conceptualización de las emociones, este psicólogo elaboró en 1980 la rueda de las emociones.'" [align]="'left'"></app-bloqtext>
      <div class="emotions-side">
        <img src="assets/svg/illustrations/emotions.svg" alt="emotions">
      </div>
    </article>
  </section>
  <section class="wt-section wt-section--blue h-100 d-flex flex-column justify-content-center">
    <app-bloqtext class="wt-content__bloqText mx-auto" [title]="'¿Desea seguir leyendo?'" [paragraph]="'Si quieres saber más acerca de este recurso, sigue leyendo este artículo de Psicología.'" [align]="'center'"></app-bloqtext>
    <a href="https://www.psicologia-online.com/la-rueda-de-las-emociones-de-robert-plutchik-4707.html#:~:text=Robert%20Plutchik%20fue%20un%20psic%C3%B3logo,de%20adaptarse%20al%20medio%20externo." target="_blank" class="wt-btn wt-btn__primary mx-auto my-3">Click aquí</a>
  </section>
</main>