//  ████████╗██╗...██╗██████╗..██████╗..██████╗.██████╗..█████╗.██████╗.██╗..██╗██╗...██╗
//  ╚══██╔══╝╚██╗.██╔╝██╔══██╗██╔═══██╗██╔════╝.██╔══██╗██╔══██╗██╔══██╗██║..██║╚██╗.██╔╝
//  ...██║....╚████╔╝.██████╔╝██║...██║██║..███╗██████╔╝███████║██████╔╝███████║.╚████╔╝.
//  ...██║.....╚██╔╝..██╔═══╝.██║...██║██║...██║██╔══██╗██╔══██║██╔═══╝.██╔══██║..╚██╔╝..
//  ...██║......██║...██║.....╚██████╔╝╚██████╔╝██║..██║██║..██║██║.....██║..██║...██║...
//  ...╚═╝......╚═╝...╚═╝......╚═════╝..╚═════╝.╚═╝..╚═╝╚═╝..╚═╝╚═╝.....╚═╝..╚═╝...╚═╝...
//  .....................................................................................

*{
  font-family: 'Gothic A1', system-ui, sans-serif;
}

.light{
  font-weight: 300;
}

.medium{
  font-weight: 500;
}

.bold{
  font-weight: 700;
}

.bigger-size{
  font-size: $f-bigger;
  @include media(mobile-only){
    font-size: $f-bigger - 1.87; // 42px
  }
}

.big-size{
  font-size: $f-big;
  @include media(mobile-only){
    font-size: $f-big - 0.25;
  }
}

.normal-size{
  font-size: $f-normal;
  @include media(mobile-only){
    font-size: $f-small;
  }
}

.small-size{
  font-size: $f-small;
  @include media(mobile-only){
    font-size: $f-xsmall;
  }
}

.xsmall-size{
  font-size: $f-xsmall - 0.25;
}
