$scrollLength: 100vh;

.wt-content-backToTop{
  position: absolute;
  top: $scrollLength;
  right: 1rem;
  bottom: 0;
  cursor: pointer;
  .wt-backToTop__link{
    position: fixed;
    position: sticky;
    top: calc(#{$scrollLength} - 5rem);
    display: inline-block;
    @include shadow(1);
    @include b-radius(100%,100%,100%,100%);
    background-color: rgba(0,0,0,0.2);
  }
}