.wt-footer{
  background-color: $c-primary_dark;
  color: $c-w;
  height: $h-footer;
  box-sizing: border-box;
  padding: 1rem $s-section_x;
  @include media('medium'){
    padding: 2rem $s-section_x;
  }
}