.wt-content__bloqText{
  width: 85%;
  @include media('desktop'){
    width: 50%;
  }
}

.wt-bloqText{
  &__title{
    word-break: break-all;
    white-space: pre-wrap;
  }
  &__paragraph{
    word-wrap: break-word;
  }
  &.center{
    text-align: center;
  }
  &.left{
    text-align: left;
  }
  &.right{
    text-align: right;
  }
}