<main class="wt-home">
  <section id="dashboard" class="wt-section wt-section--first d-flex flex-column justify-content-center">
    <app-bloqtext class="wt-content__bloqText mx-auto" [title]="'Reframing<br/>Economy'" [paragraph]="'Un trabajo de Wunderman Thompson que busca entender cómo las emociones de los colombianos cambian sus comportamientos y afectan la intensión de consumo.'" [align]="'center'"></app-bloqtext>
    <button type="button" class="wt-btn wt-btn__primary mx-auto my-3">Ir al Dashboard</button>
    <p class="small-size text-center mt-3">Scroll to explore</p>
    <div class="scrollIcon text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><g transform="translate(503.75 -1205.341)"><g transform="translate(-503.75 1205.341)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"><circle cx="15" cy="15" r="15" stroke="none"/><circle cx="15" cy="15" r="14.5" fill="none"/></g><path d="M-485.319,1214.159l-7.4,7.4-7.4-7.4" transform="translate(3.966 5.497)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/></g></svg>
    </div>
    <app-blockplus class="wt-content-blockplus right" [color]="'orange'"></app-blockplus>
  </section>
  <section id="que-es" class="wt-section d-flex flex-row align-items-center">
    <div class="container-emotions">
      <div class="text-side">
        <app-bloqtext [title]="'¿Qué es?'" [paragraph]="'Nuestro proyecto busca traquear esas emociones basándonos en el modelo de Robert Plutchik´s, que trabaja con las 8 emociones centrales y cómo su combinación lleva a nuevas emociones.'" [align]="'left'"></app-bloqtext>
        <button type="button" class="wt-btn wt-btn__light my-3">Ver Teoría</button>
      </div>
      <div class="emotions-side">
        <img src="assets/svg/illustrations/emotions.svg" alt="emotions">
        <img src="assets/svg/illustrations/emoticons.svg" alt="emoticons">
      </div>
      <div class="bkg-emotions"></div>
    </div>
    <app-blockplus class="wt-content-blockplus left" [color]="'orange'"></app-blockplus>
  </section>
  <section id="por-que" class="wt-section d-flex flex-column-reverse flex-md-row align-items-md-center">
    <img class="img-why" src="assets/img/img-why.png" alt="why">
    <app-bloqtext class="wt-content__bloqText ml-auto" [title]="'¿Por qué?'" [paragraph]="'El significado del valor esta cambiando los productos y servicios, basicamente porque ese valor esta siendo dominado por emociones modificando las prioridades y valoraciones de los colombianos.'" [align]="'right'"></app-bloqtext>
    <app-blockplus class="wt-content-blockplus right"></app-blockplus>
  </section>
  <section id="marcas" class="wt-section wt-section--orange h-auto d-flex flex-column py-5">
    <app-bloqtext class="mx-auto" [title]="'¿Cómo esto ayuda a las marcas?'" [paragraph]="'Esta visión nos ayuda a transformar el journey:'" [align]="'center'"></app-bloqtext>
    <div class="d-flex flex-md-row justify-content-center align-items-center flex-wrap mt-4">
      <app-blurb [imgsrc]="'assets/svg/icons/eye.svg'" [imgType]="'svg'" [title]="'Reconocer'" [desc]="'Reconocer nuevos desencadenantes.'"></app-blurb>
      <app-blurb [imgsrc]="'assets/svg/icons/brain.svg'" [imgType]="'svg'" [title]="'Repensar'" [desc]="'Repensar puntos de contacto.'"></app-blurb>
      <app-blurb [imgsrc]="'assets/svg/icons/question.svg'" [imgType]="'svg'" [title]="'Reconsiderar'" [desc]="'Reconsiderar puntos de dolor.'"></app-blurb>
      <app-blurb [imgsrc]="'assets/svg/icons/balance.svg'" [imgType]="'svg'" [title]="'Reequilibrar'" [desc]="'Reequilibrar la emoción.'"></app-blurb>
      <app-blurb [imgsrc]="'assets/svg/icons/imagination.svg'" [imgType]="'svg'" [title]="'Reimaginar'" [desc]="'Reimaginar escenarios.'"></app-blurb>
    </div>
    <app-blockplus class="wt-content-blockplus left"></app-blockplus>
  </section>
  <section id="uso" class="wt-section h-auto d-flex flex-column py-5">
    <app-bloqtext class="mx-auto" [title]="'¿Cómo usar el dashboard?'" [paragraph]="''" [align]="'center'"></app-bloqtext>
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center mt-4">
      <app-blurb [imgsrc]="'assets/img/dash-1.png'" [imgType]="'img'" [title]="''" [desc]="'1. Usa los diferentes selectores y filtros para ver diferentes resultados y análisis.'"></app-blurb>
      <app-blurb [imgsrc]="'assets/img/dash-2.png'" [imgType]="'img'" [title]="''" [desc]="'2. Navega entre las distintas pestañas para encontrar lo que estas buscando.'"></app-blurb>
      <app-blurb [imgsrc]="'assets/img/dash-3.png'" [imgType]="'img'" [title]="''" [desc]="'3. También puedes escuchar los análisis con los principales insights, haciendo clic en el botón de audio.'"></app-blurb>
    </div>
      <app-bloqtext class="mx-auto" [title]="''" [paragraph]="'Ya estas listo para ingresar y visualizar toda la información presentada.'" [align]="'center'"></app-bloqtext>
      <button type="button" class="wt-btn wt-btn__primary mx-auto my-3">Ir al Dashboard</button>
      <app-blockplus class="wt-content-blockplus right"></app-blockplus>
  </section>
  <section id="contacto" class="wt-section vh-100 d-flex flex-column justify-content-center">
    <app-bloqtext class="wt-content__bloqText mx-auto" [title]="'Contacto'" [paragraph]="'Si tienes alguna duda o inquietud por favor no dudes en contactarnos al siguiente correo:'" [align]="'center'"></app-bloqtext>
    <a href="mailto:data.manager@wundermanthompson.com?Subject=Esta%20es%20una%20prueba%20desde%20Angular" class="wt-btn wt-btn__primary mx-auto my-3">data.manager@wundermanthompson.com</a>
  </section>
  
</main>
<app-footer></app-footer>
