$scrollLength: 100vh;

.wt-content-backToTop{
  position: absolute;
  top: $scrollLength * 2;
  right: 1rem;
  bottom: 0;
  cursor: pointer;
  .wt-backToTop__link{
    position: fixed;
    position: sticky;
    top: calc(#{$scrollLength} - 5rem);
    display: inline-block;
  }
}