
.wt-app-blockplus{
  position: absolute;
  width: 25%;
  bottom: -12%;
  z-index: 5;
  @include media('small'){
    width: 12%;
    bottom: -10%;
  }
  &.left{
    left: 10%;
    @include media('large'){
      left: 15%;
    }
  }
  &.right{
    right: 10%;
    @include media('large'){
      right: 15%;
    }
  }
}